
.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    min-width: 100%;
    background: var(--listbox-bg);
    position: absolute;
    z-index: 100000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.option {
    padding: 10px 20px;
}

.label {
    margin-right: 4px;
}
