.top-left {
	bottom: 100%;
	right: 0;
}

.top-right {
	bottom: 100%;
	left: 0;
}

.bottom-right {
	top: 100%;
	left: 0;
}

.bottom-left {
	top: 100%;
	right: 0;
}

.popup {
	position: relative;
}

.active {
	background: var(--bg-color);
}

.disabled {
    opacity: 0.7;
}


.renderer {
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}