.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;

    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    --code-bg: #1212a1
}
