.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0,0,0,0.2);

    --code-bg: #fff;

    --card-bg: #d5d5d7;
    
    --listbox-bg: #d5d5d7;

}
