.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.links, .dropdown {
    margin-right: 15px;
    margin-left: auto;
}

.title {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.createBtn {

}

